.Table-setting{
display: flex;
justify-content: space-between;
margin-top:80px;
align-content: center;
padding:0px 30px;
}
.Table-setting select{
    padding:5px 5px;
    font-size: 100%;
    border:1px solid #c2c2c2;
    font-weight: bold;
}
.Table-setting label{
    color:#707070;
    margin:0px 10px;
}
.Table-setting input{
    height:35px;
    font-size:100%;
    text-align: center;
    border:1px solid #c2c2c2
}
.Table-setting input:focus{
    outline:none
}