*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
@font-face {font-family: "Circular"; src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot"); src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); }
/* @import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book); */
body{
  text-align: center;
  font-family: Circular,sans-serif;
  overflow-x: hidden;
}
.World{
  display: flex;
  width:100vw;
  height:100vh;
}
.left-navigation{
  width:20%;
  min-height:100%;
}
.right-body{
  width:80%;
  min-height:150%;
  height:auto;
  background-color:#F5F6F9;
  padding-top:30px;
}
.left-navigation-links{
  margin-top:40px;
}
.left-navigation-top{
  margin-top:30px;
}